dist: trusty
language: scala
git:
  depth: 3
jdk:
  - oraclejdk8

matrix:
  include:
    - scala: 2.12.12
      script: "mvn test -B -Pscala-2.12"

#    - scala: 2.13.3
#      script: "mvn test -B -Pscala-2.13"

# safelist
branches:
  only:
  - master
  - spark-2.3
